.clear{
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
    overflow: hidden;
}

h1, h2{
    padding: 20px 0 10px 0;
    text-align:center;
    font-size: 25px;
    font-weight: normal;
}

h1{
    font-size: 28px;
}

.text-center{
    text-align: center;
}

.text-padded{
    padding: 0 100px;
}


/* ========= COMMON ======== */

.btn-dark{
    color: #fff;
    border-color: #898d87;
    background-color: #90978d;
}

.btn-dark:hover, .btn-dark:focus{
    color: #fff;
    border-color: #727570;
    background-color: #7c817a;
}

.btn-item{
    border: 1px solid #d3d3d3;
    background: #e7e7e7 url(../images/item-bg.png) repeat-x left top;
}

.ico-man,
.ico-woman{
    width: 22px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ico-wo-man.png) no-repeat left top;
}

.ico-woman{
    background-position: left bottom;
}

.ico-show, .ico-delete{
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.ico-show:hover, .ico-delete:hover{
    background-position: left bottom;
}

.ico-show { background: url(../images/action-show.png) no-repeat left top; }
.ico-delete { background: url(../images/action-delete.png) no-repeat left top; }

.link{
    color: #36ac36;
    text-decoration: underline;
    cursor: pointer;
}


.hide-show{
     margin: 50px 0 0 0;
}

.hide-show .stable-block{
    padding: 0 0 40px 0;
   margin: 0 0 12px 0;
    position: relative;
    background: url(../images/tint.png) no-repeat center bottom; 
}

.hide-show.state-hidden{
    cursor: pointer;
}

.hide-show h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hide-show .ico-hide-show{
    display: block;
    padding: 0 40px 0 0;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    color: #555;
    cursor: pointer;
    background: url(../images/ico-hide-show.png) no-repeat right top; 
}

.hide-show .hiding-block{
     -webkit-transition:0.7s linear all;
     -moz-transition:0.7s linear all;
    transition:0.7s linear all;
     max-height: 1000px;
}

.hide-show.state-hidden .hiding-block{
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
}

.hide-show.state-hidden .ico-hide-show{
    background-position: right bottom;
}

.hide-show .ico-hide-show .showText{
    display: none;
}

.hide-show.state-hidden .ico-hide-show .showText{
    display: inline;
}

.hide-show.state-hidden .ico-hide-show .hideText{
    display: none;
}


/* ========= TABLE ======== */

table.styled{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}



table.styled td,
table.styled th{
    padding: 10px;
}


table.styled th{
    background: #363636;
    color: #fff;
    font-weight: bold;
}

table.styled th a{
    padding: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    background: url(../images/sort.png) no-repeat right center;
}

table.styled th a.asc{
    background: url(../images/sort-asc.png) no-repeat right center;
}

table.styled th a.desc{
    background: url(../images/sort-desc.png) no-repeat right center;
}

table.styled th a:hover{
    text-decoration: underline;
}


table.styled td{
    background: #f6f6f6;
    border-bottom: 1px solid #d8d8d8;
}



table.styled tr:hover td{
    background: #e7e9e7;
}

table.styled td:first-child{
    width: 22px;
    border-left: 1px solid #d8d8d8;
}
table.styled td:last-child{
    width: 80px;
    border-right: 1px solid #d8d8d8;
}

table.styled tr:first-child th:first-child {
    width: 22px;
  border-top-left-radius: 6px;
}

table.styled tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table.styled tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table.styled tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}