.form-signin {
  max-width: 330px;
  padding: 15px;
  float: right;
  margin-right: 300px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo {
  color: #5cb85c !important;
  font-size: 20px !important;
}

.jumbotron{
    margin-bottom: 0px !important;
}

.nav-tabs{
    font-size: 20px;
    background-color: #3276b1;
    border-top: 2px solid white;
    border-right-width: 2px !important;
    border-right-color: red !important;
}

.nav-tabs.nav-justified>li>a{
    border-right-width: 2px !important;
    border-right-color: white !important;
    color: white;
}

.nav-tabs.nav-justified>.active>a{
    color: black;
}

.nevim{
    margin-left: 50px;


}
/*  not working don't know why
.nav-tabs.nav-justified>.active>a:hover{
    color: black;
}

.nav-tabs.nav-justified>.active>a:focus{
   color: black;
} */
