<!doctype html>
<html ng-app="plunker">
<head>



	<!-- Bootstrap core CSS -->
	<link href="../../lib/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../../css/justified-nav.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="../../lib/angular.js"></script>
	<script src="../../lib/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="../../app/employer/interview.js"></script>


	<link href="../../lib/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/interview.css" rel="stylesheet">



</head>
<body>


<div ng-controller="interviewControler">



	<div style="font-size: xx-large;">{{interview.interviewName}}</div>
	<div style="font-size: x-large;">{{interview.interviewDesc}}</div>
	<div> Status: {{interview.status}}</div>
	</br>
	<div style="font-size: large;">Open for applying from {{interview.startDate}} to {{interview.endDate}}</div>

	<div repeat-hello-world="5"></div>

	<div id="interviewWidget">

		<div id="interviewPhases">
			<span ng-repeat="phase in phases"> <!-- after div there is linebreak thus span used-->
				<button id="phase{{$index}}" class="phase">{{phase}}</button>
				<button ng-hide="$last" class="separator">|</button> <!--replace with nice image -->
			</span>
		</div>
		<div id="applicants">
			<button id="applicantGroup{{rowIndex}}" style="left:{{getPosition(rowIndex)}}" class="applicant" ng-mouseover="showApplicantsGroup(group)" ng-mouseenter="mark(rowIndex)"
					ng-repeat="(rowIndex, group) in applicantGroups"></button>
		</div>
	</div>

	<button id="listAllApplicants" ng-click="listAllApplicants()">List all applicants</button>
	</br>
	</br>
	</br>

	<label>Selected applicants:</label>
	<div id="selectedApplicants" ng-repeat="applicant in selectedApplicants">
		<div ng-mouseover="highlightApplicantGroup(applicant)">
			<label> Person id: {{applicant.personId}}</label>
			<button>moveToNextPhase</button>
			<button>moveToPreviousPhase</button>
		</div>
	</div>
</div>


<div>footer</div>
<br/>


</div>
</body>
</html>
