<!doctype html>
<html ng-app="plunker">
<head>

    <script src="lib/angular.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="example.js"></script>

    <link href="lib/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div ng-controller="TabsDemoCtrl">

    <li>This is job portal written by programmer for programmers and companies</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum lorem ipsum lorem ipsum</li>
    <li>lorem ipsum lorem ipsum lorem ipsum</li>
    <hr/>

    <table border="1" cellpadding="10">
        <tbody>
        <tr ng-repeat="(rowIndex, row) in searchConditions">
            <td ng-repeat="searchCondition in row">
                <select ng-model="correctlySelected" ng-options="opt as opt.label for opt in options"
                        ng-change="openConditionDialog(rowIndex,$index,correctlySelected)"></select>
                <button type="button">{{searchCondition.name}}</button>
                <button type="button" ng-click="removeCondition(rowIndex,$index)">X</button>
            </td>
            <td>
                <button type="button" ng-click="addCondition(rowIndex)">Add condition</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="button" ng-click="addRow()">ADD ROW</button>

    </br>
    </br>

    <canvas id="mycanvas" width="${screen.width}" height="800"></canvas>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
</body>
</html>
