<!doctype html>
<html ng-app="plunker">
<head>

	<script src="lib/angular.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="app/employeeView.js"></script>

	<link href="lib/bootstrap.min.css" rel="stylesheet">
	<link href="css/employeeView.css" rel="stylesheet">

</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" role="form">
				<label style="color: white;">hr@company.com</label>
				<button type="submit" class="btn btn-success">Sign out</button>
			</form>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

</div>

<div>

	<tabset justified="true">
		<tab heading="Profile" ng-controller="ProfileController">

			<h2>Status:</h2>OK
			<h2>Verification:</h2>DONE


			<h2>Details:</h2>
			<form class="" role="form">
				<div class="form-group">
					<input type="text" placeholder="Company name" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Identification number" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Company website" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Company email" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Company register link" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" placeholder="Address" class="form-control">
				</div>
				<button type="submit" class="btn btn-success">Change</button>
			</form>

			<h2>Accounts:</h2>
			<li>john@company.com | John Fitcherals | Admin</li>
			<li>nobody@company.com |John Fitcherals | View</li>
			<li>nobody@company.com |John Fitcherals | Interviewer</li>
			<li>nobody@company.com |John Fitcherals | View</li>


		</tab>


		<tab heading="Search" ng-controller="SearchController">

			<table border="1" cellpadding="10">
				<tbody>
				<tr ng-repeat="(rowIndex, row) in searchConditions">
					<td ng-repeat="searchCondition in row">
						<select ng-model="correctlySelected" ng-options="opt as opt.label for opt in options"
								ng-change="openConditionDialog(rowIndex,$index,correctlySelected)"></select>
						<button type="button">{{searchCondition.name}}</button>
						<button type="button" ng-click="removeCondition(rowIndex,$index)">X</button>
					</td>
					<td>
						<button type="button" ng-click="addCondition(rowIndex)">Add condition</button>
					</td>
				</tr>
				</tbody>
			</table>

			<button type="button" ng-click="addRow()">ADD ROW</button>

			</br>
			</br>

			<script type="text/ng-template" id="myModalContent.html">
				<div class="modal-header">
					<h3 class="modal-title">I'm a modal!</h3>
				</div>
				<div class="modal-body">
					<ul>
						<li ng-repeat="item in items">
							<a ng-click="selected.item = item">{{ item }}</a>
						</li>
					</ul>
					Selected: <b>{{ selected.item }}</b>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="ok()">OK</button>
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				</div>
			</script>



		</tab>


		<tab heading="Interviews" ng-controller="InterviewsController">
		</tab>

		<tab heading="Tests" ng-controller="TestsController">
			<br/>
			<br/>

			<button type="submit" class="btn btn-success">Create automated test</button>
		</tab>

	</tabset>
</div>
</body>
</html>


</body>
</html>
