<!doctype html>
<html ng-app="plunker">
<head>

    <script src="lib/angular.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="interview.js"></script>

    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/interview.css" rel="stylesheet">

</head>
<body>

<div ng-controller="interviewControler">

    <div>header</div>
    <div id="interviewWidget">


<!--jkj-->
		<div id="interviewPhases">
			<span ng-repeat="phase in phases"> <!-- after div there is linebreak thus span used-->
				<button class="phase" >{{phase}}</button>
				<button ng-hide="$last" class="separator" >|</button> <!--replace with nice image -->
			</span>
		</div>
		<div id="applicants">
			<button class="applicant" ng-repeat="group in applicantGroups"></button>
		</div>



    </div>
    <div>footer</div>
    <br/>


</div>
</body>
</html>
