<!doctype html>
<html ng-app="plunker">
<head>

	<script src="lib/angular.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="interview.js"></script>

	<link href="lib/bootstrap.min.css" rel="stylesheet">
	<link href="css/interview.css" rel="stylesheet">

</head>
<body>

<div ng-controller="interviewControler">



	<div style="font-size: xx-large;">{{interview.interviewName}}</div>
	<div style="font-size: x-large;">{{interview.interviewDesc}}</div>
	<div> Status: {{interview.status}}</div>
	</br>
	<div style="font-size: large;">Open for applying from {{interview.startDate}} to {{interview.endDate}}</div>

	<div repeat-hello-world="5"></div>

	<div id="interviewWidget">

		<div id="interviewPhases">
			<span ng-repeat="phase in phases"> <!-- after div there is linebreak thus span used-->
				<button id="phase{{$index}}" class="phase">{{phase}}</button>
				<button ng-hide="$last" class="separator">|</button> <!--replace with nice image -->
			</span>
		</div>
		<div id="applicants">
			<button id="applicantGroup{{rowIndex}}" style="left:{{getPosition(rowIndex)}}" class="applicant" ng-mouseover="showApplicantsGroup(group)" ng-mouseenter="mark(rowIndex)"
					ng-repeat="(rowIndex, group) in applicantGroups"></button>
		</div>
	</div>

	<button id="listAllApplicants" ng-click="listAllApplicants()">List all applicants</button>
	</br>
	</br>
	</br>

	<label>Selected applicants:</label>
	<div id="selectedApplicants" ng-repeat="applicant in selectedApplicants">
		<div ng-mouseover="highlightApplicantGroup(applicant)">
			<label> Person id: {{applicant.personId}}</label>
			<button>moveToNextPhase</button>
			<button>moveToPreviousPhase</button>
		</div>
	</div>
</div>

<div>footer</div>
<br/>


</div>
</body>
</html>
